name: Deploy Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-push-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/smart-barrier-ai:latest

  sync-to-huggingface:
    runs-on: ubuntu-latest
    needs: build-and-push-docker
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Prepare Files for Hugging Face
        run: |
          cat .github/README_HF.yaml README.md > README_TEMP.md
          mv README_TEMP.md README.md
          
          rm -rf .github
          rm -rf tests
          rm -f .gitignore

      - name: Push to Hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USER: ituvtu
          HF_SPACE: smart-barrier-ai 
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          
          git init
          git checkout -b main
          git add .
          git commit -m "Deploy from GitHub: $(date)"
          
          git remote add space https://$HF_USER:$HF_TOKEN@huggingface.co/spaces/$HF_USER/$HF_SPACE
          git push --force space main